{% extends "media/base.html" %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">{{ awardsshow.name }} | {{ awardsshow.date }}</h2>
        <a href="/awards/type/{{ awardsshow.award.id }}">See all {{ awardsshow.award.name }} Shows</a>
    </div>

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Images</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a class="item" href="{{ image.filePath }}">
                            <img class="item additionalImage" src="{{image.filePath}}" alt={{ image.film.title }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Winners:</h2>
        {% for fn in filmNominees %}
            {% if fn.win %}
                <a href="/awards/category/{{ fn.category.id }}">{{ fn.category.name }}</a> -
                <a href="/films/{{ fn.film.slug }}">{{ fn.film.title }} ({{ fn.film.getYear }})</a>
                {% for credit in filmCredits %}
                    {% if credit.FilmAwardMapping == fn %}
                        {% if credit.Person %}
                            | <a href="/person/{{ credit.Person.slug }}"> {{ credit.Person.getFullName }}</a>
                        {% endif %}
                        {% if credit.Company %}
                            | <a href="/company/{{ credit.Company.slug }}"> {{ credit.Company.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Full List of Nominations:</h2>
    </div>

    {% if categories %}
        {% for category in categories %}

            {% if filmNominees %}
                <div class="container infoSection">
                    <a href="/awards/category/{{ category.id }}">
                        <h5 class="font-weight-bold border-bottom mb-0">{{ category.name }}</h5>
                    </a>
                    <div class="scroller">
                        <ul class="hs full">
                        {% for fn in filmNominees %}
                            {% if fn.category == category %}
                                {% if category.personCompanyPriority %}
                                        {% for credit in filmCredits %}
                                            {% if credit.FilmAwardMapping == fn %}
                                                <a href="/person/{{ credit.Person.slug }}">
                                                {% if fn.win %}
                                                    <img class="item additionalImage winner" src="{{credit.Person.image.url}}" alt="{{credit.Person.getFullName}}">
                                                {% else %}
                                                    <img class="item additionalImage" src="{{credit.Person.image.url}}" alt="{{credit.Person.getFullName}}">
                                                {% endif %}
                                                {{ credit.Person.getFullName }}<br>
                                                <p href="/films/{{ fn.film.slug }}">{{ fn.film.title }}</p>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                {% else %}
                                    <a href="/films/{{ fn.film.slug }}">
                                    {% if fn.win %}
                                        <img class="item posterSmall winner" src="{{fn.film.poster.url}}" alt="{{fn.film.title}}"> {{ fn.Person.getFullName }}
                                    {% else %}
                                        <img class="item posterSmall" src="{{fn.film.poster.url}}" alt="{{fn.film.title}}"> {{ fn.Person.getFullName }}
                                    {% endif %}
                                        {% for credit in filmCredits %}
                                            {% if credit.FilmAwardMapping == fn %}
                                                {{ credit.Person.getFullName }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    {% endif %}




{% endblock %}