{% extends "media/base.html" %}
{% block title %}{{book.title}}{% endblock title %}
{% block content %}

    {% if book.cover %}
        <style type="text/css">
        .blur {
            background-image: url("{{ book.cover.url }}");
        }
        </style>
        <div class="blur"></div>
    {% endif %}

    <div class="container titleSection">

        <form id="listForm">
            {% csrf_token %}
            <div style="float:right" class="plus-toggle" id="addListToggle">
              <input type="checkbox" id="plus-toggle" {% if inList == True %}checked{% endif %}>
              <label for="plus-toggle"></label>
            </div>
        </form>

        <h2>{{book.title}}</h2>
        <h5>{{ book.release }}</h5>

        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/genre/{{ genre.genre.slug }}"> {{ genre.genre.title }}</a>
            {% endfor %}
        {% endif %}

    </div>

    <br>

    <!-- If there is a poster or a trailer then create parent element for them -->
    {% if book.image != 'MissingIcon.png' or averageRating %}
        <div class="container posterTrailerContainer">
            <div class="row" style="padding: 10px">
                <img class="item detailPoster" style="float:left" src="{{book.image.url}}" alt="{{book.title}}">

                    <div class="col">
                        {% if averageRating %}
                            <div class="container ratingBox" id="ratingDiv">
                                <h5>Average Rating: </h5>
                                <h4>{{ averageRatingText }}</h4>
                                <h6>from {{ ratingCount }} user{% if ratingCount > 1 %}s{% endif %}</h6>
                            </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <div class="container ratingBox">
                                <div class="below" style="padding-top:10px;padding-bottom:10px" id="rate">{% csrf_token %}</div>
                            </div>

                            <div id="reviewButtonContainer">
                                {% if userRating %}
                                    <div class="container ratingBox">
                                        <button id="writeReviewButton" class="btn btn-primary btn-raised" style="margin-top:5px;">
                                            {% if review %}
                                                Edit Review
                                            {% else %}
                                                Write Review
                                            {% endif %}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                        {% endif %}
                    </div>
            </div>
        </div>
    {% endif %}


     {% if authors %}
        <div class="container infoSection">
            <h5 style="padding-top:5px"> Written by:</h5>
            {% for author in authors %}
                <a style="padding-right:10px" href="/person/{{ author.person.slug }}"> {{ author.getPerson }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if book.synopsis %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Synopsis:</h5>
            <h6>{{ book.synopsis }}</h6>
        </div>
    {% endif %}

    {% if publishers %}
        <div class="container infoSection">
            <h6 style="padding-top:5px"> Published by:</h6>
            {% for company in publishers %}
                <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
            {% endfor %}
        </div>
    {% endif %}

    {% if franchises %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Franchise:</h5>
            {% for franchise in franchises %}
                <a style="padding-right: 10px" href="/franchises/{{ franchise.slug }}"> {{ franchise.title }} </a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Review Modal Contents -->
    <div id="writeReviewModal" class="modal">
      <div class="modal-content">
        <div class="container profileSection inModal">
            {% if review %}
            <h5 class="font-weight-bold border-bottom mb-0">Edit Review: {{ book.title }}</h5>
            {% else %}
            <h5 class="font-weight-bold border-bottom mb-0">Write Review: {{ book.title }}</h5>
            {% endif %}
            <br>
            <form id="writeReview">
                {%  csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="reviewTextArea">Review:</label>
                  <textarea class="form-control" id="reviewTextArea" rows="8" style="color: white">{% if review %}{{ review }}{% endif %}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" id="submitReview" class="btn btn-primary btn-raised"
                       {% if review %}
                        value="Save Changes"
                        {% else %}
                        value="Post Review"
                        {% endif %}>
                    <span class="close btn btn-default" style="color: white">X</span>
                </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}