{% extends "media/base.html" %}
{% load media_tags %}
{% block title %}Browse Media{% endblock title %}
{% block content %}

    <!-- Remove Form Highlights -->
    <style>
        .form-control:focus {
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>

    <!-- Filter Forms -->
    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Browse Media</h2>
        <form method="get">
            <div class="form-inline">
                {% for field in filteredFilms.form %}
                    {% if field.label == "Title" %}
                        <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.label }}" style="color: white">
                    {% elif field.label == "Rating" %}
                        <div class="form-group col-md-2 col-lg-2" style="max-width: 125px">
                            <select class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
                                {% for choice in field %}
                                    {{ choice }}
                                {% endfor %}
                            </select>
                        </div>
                    {% elif field.label == "Release After" %}
                        <div class="form-group col-md-2 col-lg-2">
                            <input type="date" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="Release">
                        </div>
                        <script>
                            $(function(){
                               $("#id_{{ field.name }}")
                            });
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
            <input class="btn btn-primary btn-raised" type="submit" value="Filter" style="margin-top: 10px">

        </form>
    </div>

    <!-- Grid and Pagination -->
    <div class="container profileSection">
        <ul class="auto-grid" style="padding-top: 10px">
            {% for media in mediaPageObject %}
                <li class="module" style="list-style-type: none; white-space: normal">
                    {% with media|classname as modelclass %}

                        {% if modelclass == "Film" %}
                            <a href="/films/{{ media.slug }}">
                                {% if media in seenFilms %}
                                    <img class="item posterSmall seen" src="{{media.poster.url}}" alt="{{media.title}}">
                                Seen
                                {% else %}
                                    <img class="item posterSmall loading" src="{{media.poster.url}}" alt="{{media.title}}">
                                {% endif %}
                            </a>

                        {% elif modelclass == "Television" %}
                            <a href="/tv/{{ media.slug }}">
                                <img class="item posterSmall" src="{{media.poster.url}}" alt="{{media.title}}">
                            </a>

                        {% elif modelclass == "VideoGame" %}
                            <a href="/video-games/{{ media.slug }}">
                                <img class="item posterSmall" src="{{media.poster.url}}" alt="{{media.title}}">
                            </a>

                        {% elif modelclass == "Book" %}
                            <a href="/books/{{ media.slug }}">
                                <img class="item posterSmall" src="{{media.image.url}}" alt="{{media.title}}">
                            </a>

                        {% elif modelclass == "WebSeries" %}
                            <a href="/web-series/{{ media.slug }}">
                                <img class="item posterSmall" src="{{media.poster.url}}" alt="{{media.title}}">
                            </a>

                        {% elif modelclass == "Person" %}
                            <a href="/person/{{ media.slug }}">
                                <img class="item personSmall" src="{{media.image.url}}" alt="{{media.getFullName}}">
                            </a>

                        {% endif %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>

        <style>
            /*Fix Spacing*/
            .page-link {
                margin-left: 0px;
                margin-right: 0px;
            }
            /*New background on item hover*/
            .page-item:hover {
                background: 5px rgba(0, 186, 122, 0.9);
                border: 5px black;
                border-radius: 3px;
            }
            /*Remove default white circle background*/
            .page-link:hover {
                background: none;
            }
            /*Remove button click highlight focus*/
            .page-link:focus {
              outline: none;
              box-shadow: none;
            }
            /*First and Last Buttons Wider*/
            .page-link.firstLast {
                width:75px
            }
        </style>

        <br><hr>
        <div style="margin: auto; width: 20%">
            <nav class="here" aria-label="Pagination Indicators">
                  <ul class="pagination justify-content-center">

                    {% if mediaPageObject.has_previous %}
                        <li class="page-item"><a class="page-link firstLast" style="color: white" href="{% relativeUrl 1 'page' request.GET.urlencode %}">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" style="color: white" href="{% relativeUrl mediaPageObject.previous_page_number 'page' request.GET.urlencode %}">{{ mediaPageObject.previous_page_number }}</a></li>
                    {% endif %}

                        <li class="page-item"><a class="page-link" style="color: white" href="#"><strong>{{ mediaPageObject.number }}</strong></a></li>

                      {% if mediaPageObject.has_next %}
                        <li class="page-item"><a class="page-link" style="color: white" href="{% relativeUrl mediaPageObject.next_page_number 'page' request.GET.urlencode %}">{{ mediaPageObject.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link firstLast" style="color: white" href="{% relativeUrl mediaPageObject.paginator.num_pages 'page' request.GET.urlencode %}">Last &raquo;</a></li>
                    {% endif %}

                  </ul>
            </nav>
        </div>

    </div>

{% endblock %}