{% extends "media/base.html" %}
{% block content %}

    <div class="container profileSection" style="max-width: 700px; margin: auto">
        <h2 style="padding-top:5px">Contribute</h2>
    </div>

    <br>

    {% for form in forms %}
        <div class="container profileSection" style="max-width: 700px; margin: auto">

        <h4>Add {{ form.meta.model }}</h4>
            <form style="display: inline-block" method="post">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == "Release" %}
                            <input type="date" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" style="color: white">
                        {% elif field.label == "End" %}
                            <input type="date" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" style="color: white">
                        {% elif field.label == "Synopsis" %}
                            <textarea class="form-control" rows="4" cols="50" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}"  style="color: white"></textarea>
                        {% elif field.label == "Poster" %}
                            <input type="file" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" style="color: white">

                        {% else %}
                            <input type="text" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" style="color: white">

                        {% endif %}



                    {% endfor %}


                <div class="formSuccess">
                    <input class="btn btn-primary btn-raised" type="submit" value="Add Film" style="margin-top: 10px">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"> &times;</button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </form>
        </div>
        <br>
        </div>
    {% endfor %}

{% endblock %}