{% extends "media/base.html" %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Data Sources</h2>
    </div>

    <div class="container profileSection">
        <h4>Film IDs 1-118, Television IDs 1-25:</h4>
        <h6>Data: IMDb, Wikipedia</h6>
        <h6>Images: m.media-amazon.com</h6>
    </div>

    <div class="container profileSection">
        <h4>Film IDs 119-428, Television IDs 26-117:</h4>
        <h6>Data: data.world/crowdflower/blockbuster-database</h6>
        <h6>Data: data.world/jamesgaskin/movies/</h6>
        <h6>Images: Flixster.com, m.media-amazon.com</h6>
    </div>

    <div class="container profileSection">
        <h4>Film IDs 428-onwards</h4>
        <h6>Data: omdb-api (from IMDb)</h6>
        <h6>Images: omdb-api (from IMDb)</h6>
    </div>

    <div class="container profileSection">
    {% for key, values in collaborative.items %}
        <br><br>Key: {{ key }}<br>
        {% for value in values %}
            {% if value not in seen %}
                {{ forloop.counter }}{{ value.title }}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}


    </div>


{% endblock %}