{% extends "media/base.html" %}
{% block title %}{{film.title}}{% endblock title %}
{% block content %}

    <div class="container infoSection">
        <h2>{{film.title}}</h2>
        <h5>{% if film.rating %}{{ film.rating }} | {% endif %}{% if film.length %}{{ film.length }} mins | {% endif %} {{ film.release }}</h5>
        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/genre/{{ genre.genre.slug }}"> {{ genre.genre.title }}</a>
            {% endfor %}
            <br>
        {% endif %}
    </div>

    <div class="container infoSection">
        <h6 style="padding-top:10px"><a href="/films/{{ film.slug }}">Back to Main Page</a></h6>
    </div>

    {% if directors or writers or producers %}
        <div class="container infoSection">
            {% if directors %}
                <h5 style="padding-top:5px"> Directed by:</h5>
                {% for director in directors %}
                    <a style="padding-right:10px" href="/person/{{ director.person.slug }}"> {{ director.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if writers %}
                <h5 style="padding-top:5px"> Written by:</h5>
                {% for writer in writers %}
                    <a style="padding-right:10px" href="/person/{{ writer.person.slug }}"> {{ writer.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if producers %}
                <h5 style="padding-top:5px"> Produced by:</h5>
                {% for producer in producers %}
                    <a style="padding-right:10px" href="/person/{{ producer.person.slug }}"> {{ producer.getPerson }} </a>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {% if cast %}
        <div class="container infoSection">
            <h5>Cast:</h5>
                {% for actor in cast %}
                    <a href="/person/{{ actor.person.slug }}">{{actor.getPerson}}</a>
                    {% if actor.character %} - {{ actor.character }}{% endif %}
                    <br>
                {% endfor %}
        </div>
    {% endif %}

    {% if distributors or productionCompanies %}
        <div class="container infoSection">
            {% if distributors %}
                <h6 style="padding-top:5px"> Distributors:</h6>
                {% for company in distributors %}
                    <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
                {% endfor %}
            {% endif %}

            {% if productionCompanies %}
                <h6 style="padding-top:5px"> Production Companies:</h6>
                {% for company in productionCompanies %}
                    <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}