{% extends "media/base.html" %}
{% block title %}{{film.title}}{% endblock title %}
{% block content %}

    {% if film.cover %}
        <style type="text/css">

            .blur {
                background-image: url("{{ film.cover.url }}");
                padding-bottom: 50px;
            }

        </style>
        <div class="blur"></div>
    {% endif %}

    <div class="container titleSection">

        <form id="listForm">
            {% csrf_token %}
            <div style="float:right" class="plus-toggle" id="addListToggle">
              <input type="checkbox" id="plus-toggle" {% if inList == True %}checked{% endif %}>
              <label for="plus-toggle"></label>
            </div>
        </form>

        <h2>{{film.title}}</h2>
        <h5>{% if film.rating %}{{ film.rating }} | {% endif %}{% if film.length %}{{ film.length }} mins | {% endif %} {{ film.release }}</h5>
        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/genre/{{ genre.genre.title }}"> {{ genre.genre.title }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <br>

    <!-- If there is a poster or a trailer then create parent element for them -->
    {% if film.poster != 'MissingIcon.png' or film.trailerVideoPath or averageRating %}
        <div class="container posterTrailerContainer">
            <div class="row" style="padding: 10px">
                <img class="item detailPoster" style="float:left" src="{{film.poster.url}}" alt="{{film.title}}">
                {% if film.trailerVideoPath %}
                    <iframe class="trailer" src={{film.trailerVideoPath}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

                <div class="col">
                    {% if averageRating %}
                        <div class="container ratingBox" id="ratingDiv">
                            <h5>Average Rating: </h5>
                            <h4>{{ averageRatingText }}</h4>
                            <h6>from {{ ratingCount }} user{% if ratingCount > 1 %}s{% endif %}</h6>
                        </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <div class="container ratingBox">
                            <div class="below" style="display:inline-block;padding-top:8px;padding-bottom:10px" id="rate">{% csrf_token %}</div>
                        </div>

                    <div id="reviewButtonContainer">
                        {% if userRating %}
                            <div class="container ratingBox">
                                <button id="writeReviewButton" class="btn btn-primary btn-raised" style="float:right;margin-top:8px;margin-right: 3px ">
                                    {% if review %}
                                        Edit Review
                                    {% else %}
                                        Write Review
                                    {% endif %}
                                </button>
                            </div>
                        {% endif %}
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if directors or writers or producers %}
        <div class="container infoSection">
            {% if directors %}
                <h5 style="padding-top:5px"> Directed by:</h5>
                {% for director in directors %}
                    <a style="padding-right:10px" href="/person/{{ director.person.slug }}"> {{ director.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if writers %}
                <h5 style="padding-top:5px"> Written by:</h5>
                {% for writer in writers %}
                    <a style="padding-right:10px" href="/person/{{ writer.person.slug }}"> {{ writer.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if producers %}
                <h5 style="padding-top:5px"> Produced by:</h5>
                {% for producer in producers %}
                    <a style="padding-right:10px" href="/person/{{ producer.person.slug }}"> {{ producer.getPerson }} </a>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {% if nominationCount != 0 %}
        <div class="container infoSection">
            {{ nominationCount }} Nomination{% if nominationCount > 1 %}s{% endif %}
            {% if winCount != 0 %}
                 | {{ winCount }} Win{% if winCount > 1 %}s{% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if film.synopsis %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Synopsis:</h5>
            <h6>{{ film.synopsis }}</h6>
        </div>
    {% endif %}

    {% if cast %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Cast <a style="float:right" href="/films/{{ film.slug }}/crew">See Full Cast & Crew</a></h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for actor in cast %}
                        <div class="bottomOverlay">
                            <a class="item" href="/person/{{ actor.person.slug }}">
                                <img class="item additionalImage" src="{{actor.person.image.url}}" alt="{{actor.getPerson}}">
                            </a>
                            <div class="content">
                                <h6 style="overflow-wrap: normal">{{ actor.person.getFullName }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if franchises %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Franchise:</h5>
            {% for franchise in franchises %}
                <a style="padding-right: 10px" href="/franchises/{{ franchise.slug }}"> {{ franchise.title }} </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if tags %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Tags:</h5>
            <ul class="cloud-tags">
                {% for t in tags %}
                    <li class="font-weight-bold" style="margin-top:0; padding-right:10px"><a class="cloud-tags" href="/tag/{{t.tag.name}}"> {{t.tag.name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <script>
        $(function(){
            $(".cloud-tags").prettyTag({randomColor:true});
        });
        </script>

    {% endif %}

    <div class="container infoSection">
        <h6 style="padding-top:10px">US Release Date: {{ film.release }}</h6>
        {% if film.budget %}<h6>Budget: {{ budgetFormatted }}</h6>{% endif %}
        {% if film.boxOffice %}<h6>Box Office: {{ boxOfficeFormatted }}</h6>{% endif %}
    </div>

    {% if distributors %}
        <div class="container infoSection">
            <h6 style="padding-top:5px"> Distributed by:</h6>
            {% for company in distributors %}
                <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
            {% endfor %}
        </div>
    {% endif %}

    {% if productionCompanies %}
        <div class="container infoSection">
            <h6 style="padding-top:5px; padding-right: 10px"> Produced by:</h6>
            {% for company in productionCompanies %}
                <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
            {% endfor %}
        </div>
    {% endif %}

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Posters, Stills, Concept Art and Behind the Scenes</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a class="item" href="{{ image.image.url }}">
                            <img class="item additionalImage" src="{{image.image.url}}" alt={{ image.film.title }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <!-- Modal Styling -->
    <style>

        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 200px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 3px solid #888;
          width: 50%;
          max-width: 610px;
          min-width: 330px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }

        div.container.profileSection {
            margin-bottom: 0;
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }

        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }

        /* The Close Button */
        .close {
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .modal-body {padding: 2px 16px;}

    </style>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="container profileSection">
            {% if review %}
            <h5 class="font-weight-bold border-bottom mb-0">Edit Review: {{ film.title }}</h5>
            {% else %}
            <h5 class="font-weight-bold border-bottom mb-0">Write Review: {{ film.title }}</h5>
            {% endif %}

            <br>
            <form id="writeReview">
                {%  csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="reviewTextArea">Review:</label>
                  <textarea class="form-control" id="reviewTextArea" rows="8" style="color: white">{% if review %}{{ review }}{% endif %}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" id="submitReview" class="btn btn-primary btn-raised"
                       {% if review %}
                        value="Save Changes"
                        {% else %}
                        value="Post Review"
                        {% endif %}>
                    <span class="close btn btn-default" style="color: white">X</span>
                </div>
            </form>


        </div>
      </div>
    </div>

    <!-- Modal Script -->
    <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("writeReviewButton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

{% endblock %}