{% extends "media/base.html" %}

{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px">Franchises</h2>
    </div>

    <div class="container infoSection">
        <ul class="auto-grid franchiseGrid">
            {% for franchise in franchises %}
                <li class="module franchiseModule" style="list-style-type: none; white-space: normal">
                    <a href="/franchises/{{ franchise.slug }}">
                    <img class="item box" style="padding:10px" src="{{franchise.image.url}}" alt="{{franchise.title}}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr>

{% endblock %}