{% extends "media/base.html" %}
{% load media_tags %}
{% block content %}

    <div class="container infoSection">
        <img class="item franchiseBanner gameFranchiseBanner" src="{{videogamefranchise.image.url}}" alt="{{videogamefranchise.title}}">
    </div>

    {% if videogamefranchise.description %}
    <p>{{ videogamefranchise.description }}</p>
    <hr>
    {% endif %}


    {% if subcategories %}
        {% for subcategory in subcategories %}
            {% with var=subcategory.title %}
            {% dynamicVariableValue var as var_url %}
                {% if var_url %}
                    <div class="container infoSection">
                        <h5 class="font-weight-bold border-bottom mb-0">{{ subcategory.title }}</h5>
                        <div class="scroller">
                            <ul class="hs full">
                                {% for entry in var_url %}
                                    {% if entry.videoGame.poster %}
                                        <a class="item" href="/video-games/{{ entry.videoGame.slug }}">
                                        <img class="item posterSmall game" src="{{entry.videoGame.poster.url}}" alt="{{entry.videoGame.title}}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}

{% endblock %}