{% extends "media/base.html" %}
{% block title %}{{videogame.title}}{% endblock title %}
{% block content %}

    {% if videogame.cover %}
        <style type="text/css">
        .blur {
            background-image: url("{{ videogame.cover.url }}");
        }
        </style>
        <div class="blur"></div>
    {% endif %}

    <div class="container titleSection">

        <form id="listForm">
            {% csrf_token %}
            <div style="float:right" class="plus-toggle" id="addListToggle">
              <input type="checkbox" id="plus-toggle" {% if inList == True %}checked{% endif %}>
              <label for="plus-toggle"></label>
            </div>
        </form>

        <h2>{{videogame.title}}</h2>
        <h5>{{ videogame.release }}</h5>
        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/video-game-genre/{{ genre.genre.id }}"> {{ genre.genre.title }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <br>

    {% if videogame.poster != 'MissingIcon.png' or videogame.trailerVideoPath %}
        <div class="container posterTrailerContainer">
            <div class="row" style="padding: 10px">
                <img class="item detailPoster" style="float:left" src="{{videogame.poster.url}}" alt="{{videogame.title}}">
                {% if videogame.trailerVideoPath %}
                    <iframe class="trailer" width="711" height="400" src={{videogame.trailerVideoPath}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

                <div class="col">
                    {% if averageRating %}
                        <div class="container ratingBox" id="ratingDiv">
                            <h5>Average Rating: </h5>
                            <h4>{{ averageRatingText }}</h4>
                            <h6>from {{ ratingCount }} user{% if ratingCount > 1 %}s{% endif %}</h6>
                        </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <div class="container ratingBox">
                            <div class="below" style="padding-top:10px;padding-bottom:10px" id="rate">{% csrf_token %}</div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endif %}


    {% if consoles %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Released On:</h5>
            {% for console in consoles %}
                <a style="padding-right:10px" href="/console/{{ console.console.slug }}"> {{ console.console.shortName }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if videogame.synopsis %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Synopsis:</h5>
            <h6>{{ videogame.synopsis }}</h6>
        </div>
    {% endif %}

    {% if franchises %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Franchise:</h5>
            {% for franchise in franchises %}
                <a style="padding-right: 10px" href="/video-game-franchises/{{ franchise.slug }}"> {{ franchise.title }} </a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container infoSection">
        <h6 style="padding-top:10px">Initial Release Date: {{ videogame.release }}</h6>
    </div>

     {% if developers %}
        <div class="container infoSection">
            <h6 style="padding-top:5px">Developed by:</h6>
            {% for company in developers %}
                <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
            {% endfor %}
        </div>
    {% endif %}

    {% if publishers %}
        <div class="container infoSection">
            <h6 style="padding-top:5px">Published by:</h6>
            {% for company in publishers %}
                <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
            {% endfor %}
        </div>
    {% endif %}

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Posters, Stills, Concept Art and Behind the Scenes</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a class="item" href="{{ image.image.url }}">
                            <img class="item additionalImage" src="{{image.image.url}}" alt={{ image.film.title }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}