{% extends "media/base.html" %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Video Games - Home</h2>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Browse by Franchise<a style="float:right;" href="{% url 'media-videogamefranchise-home' %}">See All</a></h5>
        <div class="scroller">
            <ul class="hs full">
                {% for franchise in franchises %}
                    <a href="/video-game-franchises/{{ franchise.slug }}">
                    <img class="item box white" style="padding:10px" src="{{franchise.image.url}}" alt="{{franchise.title}}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Browse by Console</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for console in consoles %}
                    <a href="/console/{{ console.slug }}">
                        <img class="item box white" src="{{console.image.url}}" alt="{{console.name}}">
                        <div class="lowerLabel">
                            <h7 class="font-weight-bold ">{{ console.shortName }}</h7>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <style>
        .item.box.genre {
            padding: 40px;
        }
        @media screen and (max-width: 675px) {
             .item.box.genre {
                padding: 20px;
            }
            .lowerLabel {
                display: none;
            }
        }
    </style>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Browse by Genre</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for genre in genres %}
                    <a href="/video-game-genre/{{ genre.id }}">
                        <img class="item box white genre" src="{{genre.image.url}}" alt="|">
                        <div class="lowerLabel">
                            <h7 class="font-weight-bold">{{ genre.title }}</h7>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Browse by Company</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for company in companies %}
                    <a href="/company/{{ company.slug }}">
                            <img class="item box white" {% if company.image %} src="{{company.image.url}}" {% else %} src="#" {% endif %} alt="{{ company.name }}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}