{% extends "media/base.html" %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px">Browsing Genre - {{genre.title}}</h2>
    </div>

    {% if franchises %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-1">Browse by Franchise
                <a style="float:right;" href="{% url 'media-franchise-home' %}">See All</a></h5>
            </h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in franchises %}
                        <a href="/franchises/{{ f.franchise.slug }}">
                        <img class="item box" src="{{f.franchise.image.url}}" alt="{{f.franchise.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if teensFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">2010s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in teensFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if tv %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">{{ genre.title }} Television</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for series in tv %}
                        <a href="/tv/{{ series.television.slug }}">
                        <img class="item posterSmall" src="{{series.television.getPosterSmall}}" alt="{{series.television.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if naughtiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">2000s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in naughtiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if ninetiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1990s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in ninetiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if eightiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1980s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in eightiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if seventiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1970s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in seventiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if sixtiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1960s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in sixtiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if fiftiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1950s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in fiftiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if fortiesFilms %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">1940s {{ genre.title }} Films</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for f in fortiesFilms %}
                        <a href="/films/{{ f.film.slug }}">
                        <img class="item posterSmall" src="{{f.film.posterSmall.url}}" alt="{{f.film.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if webseries %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">{{ genre.title }} Web Series</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for w in webseries %}
                        <a href="/web-series/{{ w.webSeries.slug }}">
                        <img class="item posterSmall" src="{{w.webSeries.poster.url}}" alt="{{w.webSeries.title}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}