{% extends "media/base.html" %}
{% load media_tags %}
{% block content %}

    <!--Carousel-->
    <div id="c1" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#c1" data-slide-to="0" class="active"></li>
          <li data-target="#c1" data-slide-to="1"></li>
          <li data-target="#c1" data-slide-to="2"></li>
          <li data-target="#c1" data-slide-to="3"></li>
          <li data-target="#c1" data-slide-to="4"></li>
          <li data-target="#c1" data-slide-to="5"></li>
          <li data-target="#c1" data-slide-to="6"></li>

        </ul>

        <!-- Slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/films/spirited-away-2003-09-12">
                <img class="carousel"
                style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/SpritiedAway.jpg)">
            </a>
            <div class="carousel-caption">
                <h2 class="font-weight-bold"><span>Films</span></h2>
            </div>
          </div>

          <div class="carousel-item">
            <a href="/tv/peaky-blinders-2014-09-30">
                <img class="carousel"
                style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/peaky-blinders-banner-4.jpg)">
            </a>
            <div class="carousel-caption">
                <h2 class="font-weight-bold"><span>Television</span></h2>
            </div>
          </div>

          <div class="carousel-item">
            <a href="/video-games/cyberpunk-2077-2020-12-10">
                <img class="carousel"
                style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/Cyberpunk2077.jpg)">
            </a>
            <div class="carousel-caption">
              <h2 class="font-weight-bold"><span>Video Games</span></h2>
            </div>
          </div>

          <div class="carousel-item">
            <a href="#">
                <img class="carousel"
                style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/HarryPotter.png)">
            </a>
            <div class="carousel-caption">
              <h2 class="font-weight-bold"><span>Books</span></h2>
            </div>
          </div>

          <div class="carousel-item">
              <a href="/films/singin-in-the-rain-1952-04-11">
                  <img class="carousel"
                  style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/SinginInTheRainBanner-New.jpg)">
              </a>
              <div class="carousel-caption">
                <h2 class="font-weight-bold"><span>Classics</span></h2>
              </div>
          </div>

          <div class="carousel-item">
              <a href="/web-series/casey-neistats-vlog-2015-03-26">
                  <img class="carousel"
                  style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/caseyVlogCover.jpg)">
              </a>
              <div class="carousel-caption">
                <h2 class="font-weight-bold"><span>Web Series</span></h2>
              </div>
          </div>

          <div class="carousel-item">
              <a href="/franchises/marvel-comics">
                  <img class="carousel" width="1400" height="300"
                  style="content: url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/carouselImages/mcuCarousel.png)">
              </a>
              <div class="carousel-caption">
                <h2 class="font-weight-bold"><span>Marvel Cinematic Universe</span></h2>
              </div>
          </div>

        </div>

        <!-- LR controls -->
        <a class="carousel-control-prev" href="#c1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#c1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!--Carousel Script-->
    <script>
    $('#c1').carousel({
      interval: 30000,
      cycle: true
    });
    </script>

    <br>

    <!-- To Do List -->
    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">To Do List</h5>
            <br>Recommendation Algorithm<br><br>
            Datasets: Television, Video Games, Books, Web Series, Awards<br><br>

            Features:<br>

            Forms for Editing / Contributing<br>
            Forms to apply tags to media<br>

            Browsing Grid Filter Forms<br><br>

            Fixes:<br>
            After game imports: add icons to new genres<br>
            After game imports: rename new genres<br>
            After game imports: fix console names/shortnames<br>
            After game imports: assign to franchises<br>
            After game imports: game genre slugs<br>
            Rating box position when no poster/trailer<br>
            Double Click Megamenus<br>
            Fix Megamenus on Mobile<br>
            Fix Posters + Trailers on Mobile<br>
            Fix Navbar on Mobile<br>
            Set up carousels on TV/Game/Web/Book Home Pages<br><br>
            Add Genres to manually added media<br><br>
            Add all CSS to stylesheet<br>
            Remove Modal code repetition<br><br>
        </h5>
    </div>

    <br>

    <!-- Activity Feed -->
    {% if feed %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Activity Feed<a style="float:right" href={% url 'activity-feed' %}>See All</a></h5>
                <div class="scroller">
                    <ul class="hs full">
                        {% for rating in feed %}
                            {% if rating.film != NULL %}
                                <div class="bottomOverlay">
                                    <a href="/films/{{ rating.film.slug }}">
                                        <img class="item posterSmall" src="{{rating.film.poster.url}}" alt="{{rating.film.title}}">
                                        <div class="content">
                                            <h6 class = "font-weight-bold" >{{ rating.user.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            {%  if rating.television != NULL %}
                                <div class="bottomOverlay">
                                    <a href="/tv/{{ rating.television.slug }}">
                                        <img class="item posterSmall" src="{{rating.television.poster.url}}" alt="{{rating.television.title}}">
                                        <div class="content">
                                            <h6 class = "font-weight-bold" >{{ rating.user.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            {%  if rating.videoGame != NULL %}
                                <div class="bottomOverlay">
                                    <a href="/video-games/{{ rating.videoGame.slug }}">
                                        <img class="item posterSmall" src="{{rating.videoGame.poster.url}}" alt="{{rating.videoGame.title}}">
                                        <div class="content">
                                            <h6 class = "font-weight-bold" >{{ rating.user.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            {%  if rating.book != NULL %}
                                <div class="bottomOverlay">
                                    <a href="/books/{{ rating.book.slug }}">
                                        <img class="item posterSmall" src="{{rating.book.image.url}}" alt="{{rating.book.title}}">
                                        <div class="content">
                                            <h6 class = "font-weight-bold" >{{ rating.user.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            {%  if rating.webSeries != NULL %}
                                <div class="bottomOverlay">
                                    <a href="/web-series/{{ rating.webSeries.slug }}">
                                        <img class="item posterSmall" src="{{rating.webSeries.poster.url}}" alt="{{rating.webSeries.title}}">
                                        <div class="content">
                                            <h6 class = "font-weight-bold" >{{ rating.user.username }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
        </div>
    {% endif %}

    <br>

    <!-- Highest Rated -->
    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Highest Rated Films<a style="float:right" href={% url 'media-top-rated' %}>See All</a></h5>
        <div class="scroller" >
            <ul class="hs full">
                {% for film, rating in highestRatedFilms.items %}
                    <div class="bottomOverlay">
                        <a href="/films/{{ film.slug }}">
                            <img class="item posterSmall" src="{{film.poster.url}}" alt="{{film.title}}">
                            <div class="content">
                                <h6 class="font-weight-bold" >
                                    <div class="below" style="display: inline-block" id="{{ film.slug }}"></div>
                                    <div style="display: inline-block">{{ rating }}</div>
                                    <script>
                                        $('#{{film.slug}}').rateYo({
                                            rating:'{% widthratio rating 1 2 %}',
                                            starWidth:'15px',
                                            numStars:5,
                                            minValue:0,
                                            maxValue:10,
                                            normalFill:'gray',
                                            ratedFill:'orange',
                                            halfStar:true,
                                            readOnly:true,
                                        })
                                    </script>
                                </h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br>

    <!-- Top Grossing -->
    <div class="container infoSection">
    <h5 class="font-weight-bold border-bottom mb-0">Highest Grossing Films<a style="float:right" href={% url 'media-top-grossing' %}>See All</a></h5>
        <div class="scroller" >
            <ul class="hs full">
                {% for film, gross in topGrossing.items %}
                    <div class="bottomOverlay">
                        <a href="/films/{{ film.slug }}">
                            <img class="item posterSmall" src="{{film.poster.url}}" alt="{{film.title}}">
                            <div class="content">
                                <h6 class = "font-weight-bold" >{{ gross }}</h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br>

    <!-- Born Today -->
    {% if bornToday %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Born Today<a style="float:right" href={% url 'calendar' %}>See All</a></h5>
            <div class="scroller" >
                <ul class="hs full">
                    {% for person in bornToday %}
                        <a href="/person/{{ person.slug }}">
                            <img class="item personSmall" src="{{person.image.url}}" alt="{{person.firstName}} {{person.surname}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
    {% endif %}

    <!-- Upcoming -->
    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Upcoming Media</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for entry in upcoming %}
                    {% with entry|classname as modelclass %}
                        {%  if modelclass == "Film" %}
                            <div class="bottomOverlay">
                                <a class="item" href="/films/{{ entry.slug }}">
                                <img class="item posterSmall" src="{{entry.poster.url}}" alt="{{entry.title}}">
                                </a>
                                <div class="content">
                                    <h6 class = "font-weight-bold" >{{ entry.release }}</h6>
                                </div>
                            </div>
                        {% endif %}
                        {%  if modelclass == "Television" %}
                            <div class="bottomOverlay">
                                <a class="item" href="/tv/{{ entry.slug }}">
                                <img class="item posterSmall" src="{{entry.poster.url}}" alt="{{entry.title}}">
                                </a>
                                <div class="content">
                                    <h6 class = "font-weight-bold" >{{ entry.release }}</h6>
                                </div>
                            </div>
                        {% endif %}
                        {%  if modelclass == "VideoGame" %}
                            <div class="bottomOverlay">
                                <a class="item" href="/video-games/{{ entry.slug }}">
                                <img class="item posterSmall" src="{{entry.poster.url}}" alt="{{entry.title}}">
                                </a>
                                <div class="content">
                                    <h6 class = "font-weight-bold" >{{ entry.release }}</h6>
                                </div>
                            </div>
                        {% endif %}
                        {%  if modelclass == "Books" %}
                            <div class="bottomOverlay">
                                <a class="item" href="/books/{{ entry.slug }}">
                                <img class="item posterSmall" src="{{entry.image.url}}" alt="{{entry.title}}">
                                </a>
                                <div class="content">
                                    <h6 class = "font-weight-bold" >{{ entry.release }}</h6>
                                </div>
                            </div>

                        {% endif %}
                        {%  if modelclass == "WebSeries" %}
                            <div class="bottomOverlay">
                                <a class="item" href="/web-series/{{ entry.webSeries.slug }}">
                                <img class="item posterSmall" src="{{entry.webSeries.poster.url}}" alt="{{entry.webSeries.title}}">
                                </a>
                                <div class="content">
                                    <h6 class = "font-weight-bold" >{{ entry.release }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <br>

    <!-- Longest Running TV -->
    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Longest Running Television Series</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for television in longestRunningTV %}
                    <a href="/tv/{{ television.slug }}">
                    <img class="item posterSmall" src="{{television.poster.url}}" alt="{{television.title}}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-0">Recent Games Added</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for game in games %}
                    <a href="/video-games/{{ game.slug }}">
                    {% if game.poster %}
                        <img class="item posterSmall" src="{{game.poster.url}}" alt="{{game.title}}">
                    {% else %}
                        <img class="item posterSmall" src="https://mediadb-bucket.s3-us-west-2.amazonaws.com/MissingIcon.png" alt="{{game.title}}">
                    {% endif %}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--
    <div class="scroller">
        <ul class="hs full">
            <a class="item">Demo Disk</a>2020-07-06
            <a class="item">Ray Gun Recap</a>
            <a class="item">Content Cop</a>
            <a class="item">That's Cringe</a>
            <a class="item">Best of the Worst</a>
            <a class="item">Dunkview</a>
            <a class="item">Dude Soup</a>
            <a class="item">Alternative Lifestyle</a>
            <a class="item">Weekly Planet Podcast</a>
            <a class="item">Jeff's Barbershop</a>
            <a class="item">Don't Hug Me I'm Scared</a>
            <a class="item">Your Grammar Sucks</a>
            <a class="item">Meme Review</a>
            <a class="item">VFX Arists React</a>
            <a class="item">Inside Gaming Daily</a>
            <a class="item">Amazon Prime Time</a>
            <a class="item">Adam Savage's One Day Builds</a>
        </ul>
    </div>
    -->

    <br><hr><br>

{% endblock %}