{% extends "media/base.html" %}
{% load media_tags %}
{% block title %}{{person.getFullName}}{% endblock title %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top:5px">{{person.firstName}} {{ person.surname }}</h2>
        {% if person.DoB %}
            <h5>Born: {{ person.DoB }}</h5>
        {% endif %}
        {% if person.alive is False %}
        <h5>Died: {{ person.DoD }}</h5>
        {% endif %}
    </div>

    {% if person.image or person.bio %}
        <div class="container infoSection">
            <div class="media">
                {% if person.image %}
                    <img class="item personDetail" src="{{person.image.url}}" alt="{{person.firstName}} {{person.surname}}">
                {% endif %}
                {% if person.bio %}
                    <div class="media-body" style="padding-left:15px">
                        {{ person.bio }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if nominationCount != 0 or winCount != 0 %}
        <div class="container infoSection">
            {% if nominationCount != 0 %}
                {{ nominationCount }} Nomination{% if nominationCount > 1 %}s{% endif %}
            {% endif %}
            {% if winCount != 0 %}
                 | {{ winCount }} Win{% if winCount > 1 %}s{% endif %}
            {% endif %}
        </div>
    {% endif %}

    {% if roles %}
        {% for roleType, mappings in roles %}
                <div class="container infoSection">
                    <h5 class="font-weight-bold border-bottom mb-0">{{ roleType }}</h5>
                    <div class="scroller">
                        <ul class="hs full">
                            {% for entry in mappings %}
                                {% with entry|classname as modelclass %}
                                    {%  if modelclass == "Film" %}
                                        <a class="item" href="/films/{{ entry.slug }}">
                                        <img class="item posterSmall" src="{{entry.poster.url}}" alt="{{entry.title}}">
                                        </a>
                                    {% endif %}
                                    {%  if modelclass == "Television" %}
                                        <a class="item" href="/tv/{{ entry.slug }}">
                                        <img class="item posterSmall" src="{{entry.poster.url}}" alt="{{entry.title}}">
                                        </a>
                                    {% endif %}
                                    {%  if modelclass == "VideoGame" %}
                                        <a class="item" href="/video-games/{{ entry.videogame.slug }}">
                                        <img class="item posterSmall" src="{{entry.videogame.poster.url}}" alt="{{entry.videogame.title}}">
                                        </a>
                                    {% endif %}
                                    {%  if modelclass == "Books" %}
                                        <a class="item" href="/books/{{ entry.book.slug }}">
                                        <img class="item posterSmall" src="{{entry.book.image.url}}" alt="{{entry.book.title}}">
                                        </a>
                                    {% endif %}
                                    {%  if modelclass == "WebSeries" %}
                                        <a class="item" href="/web-series/{{ entry.webSeries.slug }}">
                                        <img class="item posterSmall" src="{{entry.webSeries.poster.url}}" alt="{{entry.webSeries.title}}">
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        {% endfor %}

    {% endif %}

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Additional Images</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a href="{{ image.image.url }}">
                            <img class="item additionalImage" src="{{image.image.url}}" alt={{ person.getFullName }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}