{% extends "media/base.html" %}
{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px">Highest Rated Films</h2>
    </div>

    {% for film in topRated %}
        <div class="container infoSection">
            <div class="media">
                <a class="item smallImage" href="/films/{{ film.media.slug }}">
                    <img class="item smallImage" src="{{film.media.poster.url}}" alt="{{film.media.title}}">
                </a>
                <div class="media-body" style="padding-left:15px">
                    <a href="/films/{{ film.media.slug }}">
                        <h5 class="font-weight-bold border-bottom mb-0">
                            {{ film.media.title }} ({{ film.media.getYear }}) - {{ film.rating }}
                        </h5>
                    </a>
                    {% if film.media.synopsis %}
                        {{ film.media.synopsis }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}