{% extends "media/base.html" %}

{% block content %}

    <div class="container infoSection">
        <h2 style="padding-top: 7px;">Television - Home</h2>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-1">2010s Shows</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for television in tens %}
                    <a href="/tv/{{ television.slug }}">
                    <img class="item posterSmall" src="{{television.poster.url}}" alt="{{television.title}}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-1">2000s Shows</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for television in naughties %}
                    <a href="/tv/{{ television.slug }}">
                    <img class="item posterSmall" src="{{television.poster.url}}" alt="{{television.title}}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container infoSection">
        <h5 class="font-weight-bold border-bottom mb-1">1990s Shows</h5>
        <div class="scroller">
            <ul class="hs full">
                {% for television in nineties %}
                    <a href="/tv/{{ television.slug }}">
                    <img class="item posterSmall" src="{{television.poster.url}}" alt="{{television.title}}">
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}