{% extends "media/base.html" %}
{% block title %}{{webseries.title}}{% endblock title %}
{% block content %}

    {% if webseries.cover %}
        <style type="text/css">
        .blur {
            background-image: url("{{ webseries.cover.url }}");
        }
        </style>
        <div class="blur"></div>
    {% endif %}

    <div class="container titleSection">

        <form id="listForm">
            {% csrf_token %}
            <div style="float:right" class="plus-toggle" id="addListToggle">
              <input type="checkbox" id="plus-toggle" {% if inList == True %}checked{% endif %}>
              <label for="plus-toggle"></label>
            </div>
        </form>

        <h2>{{webseries.title}}</h2>
        <h5>
        {{ webseries.getYear }}
        {% if webseries.ongoing == False %}
            {% if webseries.getYear != webseries.getEndYear %}
                - {{ webseries.getEndYear }}
            {% endif %}
        {% else %}
            -
        {% endif %}
        </h5>

        <h5>{{ webseries.episodes }} Episodes | Seasons: {{ webseries.seasons }}</h5>

        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/genre/{{ genre.genre.slug }}"> {{ genre.genre.title }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <br>

    <!-- If there is a poster or a trailer then create parent element for them -->
    {% if webseries.poster or webseries.trailerVideoPath or averageRating %}
        <div class="container posterTrailerContainer" id="testrefresh">
            <div class="row" style="padding: 10px">

                {% if webseries.poster %}
                    <img class="item detailPoster" style="float:left" src="{{webseries.poster.url}}" alt="{{webseries.title}}">
                {% endif %}

                {% if webseries.trailerVideoPath %}
                    <iframe class="trailer" src={{webseries.trailerVideoPath}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

                {% if averageRating or user.is_authenticated %}
                    <div class="col ratingCol" style="padding-left: 0;" id="refresh">
                        <div class="container ratingBox taller" style="border: solid white; border-width: 1px 1px;">
                            <h5>Average Rating: </h5>
                            <h4 id="refreshAverageText">{{ averageRatingText }}</h4>
                            {% if not averageRatingText %}
                                <h4 id="refreshAverageNoneText">0</h4>
                            {% endif %}
                            <h6 id="refreshCountText">from {{ ratingCount }} user{% if ratingCount > 1 or ratingCount == 0 %}s{% endif %}</h6>
                            {% if user.is_authenticated %}
                                <hr>
                                <div class="below" style="display:inline-block;padding-top:8px;padding-bottom:10px" id="rate"></div>
                                {% csrf_token %}
                                <div id="reviewButtonContainer">
                                    {% if userRating %}
                                        <hr>
                                        <button id="writeReviewButton" class="btn btn-primary btn-raised reviewButton" style="margin-top:5px;">
                                            {% if review %}
                                                Edit Review
                                            {% else %}
                                                Write Review
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if showrunners or writers or producers %}
        <div class="container infoSection">
            {% if showrunners %}
                <h5 style="padding-top:5px">Created by:</h5>
                {% for showrunner in showrunners %}
                    <a style="padding-right:10px" href="/person/{{ showrunner.person.slug }}"> {{ showrunner.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if writers %}
                <h5 style="padding-top:5px"> Written by:</h5>
                {% for writer in writers %}
                    <a style="padding-right:10px" href="/person/{{ writer.person.slug }}"> {{ writer.getPerson }} </a>
                {% endfor %}
            {% endif %}

            {% if producers %}
                <h5 style="padding-top:5px"> Produced by:</h5>
                {% for producer in producers %}
                    <a style="padding-right:10px" href="/person/{{ producer.person.slug }}"> {{ producer.getPerson }} </a>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {% if webseries.synopsis %}
        <div class="container infoSection">
            <h5 style="padding-top:5px">Synopsis:</h5>
            <h6>{{ webseries.synopsis }}</h6>
        </div>
    {% endif %}

    {% if cast %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Cast <a style="float:right" href="#">See Full Cast & Crew</a></h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for actor in cast %}
                        <a class="item" href="/person/{{ actor.person.slug }}">
                            <img class="item personSmall" src="{{actor.person.image.url}}" alt="{{actor.getPerson}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if franchises %}
        <div class="container infoSection">
            <h5>Franchise:</h5>
            {% for franchise in franchises %}
                <a href="/franchises/{{ franchise.slug }}"> {{ franchise.title }} </a><br>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container infoSection">
        <h6 style="padding-top:10px">First Episode Air  Date: {{ webseries.release }}</h6>
        {% if webseries.ongoing == False %}
            <h6 style="padding-top:5px">Final Episode Air Date: {{ webseries.end }}</h6>
        {% endif %}
    </div>

    {% if productionCompanies %}
        <div class="container infoSection">
            <h6 style="padding-top:5px; "> Produced by:</h6>
            {% for company in productionCompanies %}
                <a style="padding-right: 10px" href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if networks %}
        <h6 style="padding-top:10px"> Networks:</h6>
        {% for company in networks %}
            <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
        {% endfor %}
    {% endif %}

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Posters, Stills, Concept Art and Behind the Scenes</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a class="item" href="{{ image.image.url }}">
                            <img class="item additionalImage" src="{{image.image.url}}" alt={{ image.film.title }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <!-- Review Modal Contents -->
    <div id="writeReviewModal" class="modal">
        <div class="modal-content">
        <div class="container profileSection inModal">
            {% if review %}
            <h5 class="font-weight-bold border-bottom mb-0">Edit Review: {{ webseries.title }}</h5>
            {% else %}
            <h5 class="font-weight-bold border-bottom mb-0">Write Review: {{ webseries.title }}</h5>
            {% endif %}
            <br>
            <form id="writeReview">
                {%  csrf_token %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="reviewTextArea">Review:</label>
                  <textarea class="form-control" id="reviewTextArea" rows="8" style="color: white">{% if review %}{{ review }}{% endif %}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" id="submitReview" class="btn btn-primary btn-raised"
                       {% if review %}
                        value="Save Changes"
                        {% else %}
                        value="Post Review"
                        {% endif %}>
                    <span class="close btn btn-default" style="color: white">X</span>
                </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}