{% extends "media/base.html" %}
{% block title %}{{webseries.title}}{% endblock title %}
{% block content %}

    {% if webseries.cover %}
        <style type="text/css">
        .blur {
            background-image: url("{{ webseries.cover.url }}");
        }
        </style>
        <div class="blur"></div>
    {% endif %}

    <div class="container titleSection">

        <form id="listForm">
            {% csrf_token %}
            <div style="float:right" class="plus-toggle">
              <input type="checkbox" id="plus-toggle" {% if inList == True %}checked{% endif %}>
              <label for="plus-toggle"></label>
            </div>
        </form>

        <h2>
        {{webseries.title}} | {{ webseries.getYear }}
        {% if webseries.ongoing == False %}
            {% if webseries.getYear != webseries.getEndYear %}
                - {{ webseries.getEndYear }}
            {% endif %}
        {% else %}
            -
        {% endif %}
        </h2>

        <h5>{{ webseries.episodes }} Episodes | Seasons: {{ webseries.seasons }}</h5>

        {% if genres %}
            {% for genre in genres %}
                <a style="padding-right:10px" href="/genre/{{ genre.genre.title }}"> {{ genre.genre.title }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <br>

    {% if webseries.poster != 'MissingIcon.png' or webseries.trailerVideoPath %}
        <div class="container posterTrailerContainer">
            <div class="row" style="padding: 10px">
                <img class="item detailPoster" style="float:left" src="{{webseries.poster.url}}" alt="{{webseries.title}}">
                {% if webseries.trailerVideoPath %}
                    <iframe class="trailer" width="711" height="400" src={{webseries.trailerVideoPath}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}

                <div class="col">
                    {% if averageRating %}
                        <div class="container ratingBox">
                            <h5>Average Rating: </h5>
                            <h4>{{ averageRatingText }}</h4>
                            <h6>from {{ ratingCount }} user{% if ratingCount > 1 %}s{% endif %}</h6>
                        </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <div class="container ratingBox">
                            <div class="below" style="padding-top:10px;padding-bottom:10px" id="rate">{% csrf_token %}</div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endif %}

    {% if showrunners or writers or producers %}
        <div class="container infoSection">
            {% if showrunners %}
                <h5>Created by:</h5>
                {% for showrunner in showrunners %}
                    <a style="padding-right:10px" href="/person/{{ showrunner.person.slug }}"> {{ showrunner.getPerson }}</a>
                {% endfor %}
            {% endif %}

            {% if writers %}
                <h5 style="padding-top:10px"> Written by:</h5>
                {% for writer in writers %}
                    <a style="padding-right:10px" href="/person/{{ writer.person.slug }}"> {{ writer.getPerson }} </a>
                {% endfor %}
            {% endif %}

            {% if producers %}
                <h5 style="padding-top:10px"> Produced by:</h5>
                {% for producer in producers %}
                    <a style="padding-right:10px" href="/person/{{ producer.person.slug }}"> {{ producer.getPerson }} </a>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {% if webseries.synopsis %}
        <div class="container infoSection">
            <h5>Synopsis:</h5>
            <h6>{{ webseries.synopsis }}</h6>
        </div>
    {% endif %}

    {% if cast %}
        <div class="container infoSection">
            <h5 class="font-weight-bold text-uppercase border-bottom mb-0">Cast <a style="float:right" href="#">See Full Cast & Crew</a></h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for actor in cast %}
                        <a class="item" href="/person/{{ actor.person.slug }}">
                        <img class="item personSmall" src="{{actor.person.image.url}}" alt="{{actor.getPerson}}">
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if franchises %}
        <div class="container infoSection">
            <h5>Franchise:</h5>
            {% for franchise in franchises %}
                <a href="/franchises/{{ franchise.slug }}"> {{ franchise.title }} </a><br>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container infoSection">
        <h6>First Episode Air  Date: {{ webseries.release }}</h6>

        {% if webseries.ongoing == False %}
            <h6>Final Episode Air Date: {{ webseries.end }}</h6>
        {% endif %}
    </div>

     {% if productionCompanies %}
        <h6 style="padding-top:10px"> Produced by:</h6>
        {% for company in productionCompanies %}
            <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
        {% endfor %}
    {% endif %}

    {% if networks %}
        <h6 style="padding-top:10px"> Networks:</h6>
        {% for company in networks %}
            <a href="/company/{{ company.company.slug }}"> {{ company.company.name }} </a><br>
        {% endfor %}
    {% endif %}

    {% if images %}
        <div class="container infoSection">
            <h5 class="font-weight-bold text-uppercase border-bottom mb-0">ADDITIONAL POSTERS, STILLS, CONCEPT ART, BEHIND THE SCENES</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for image in images %}
                        <a class="item" href="{{ image.filePath }}">
                            <img class="item additionalImage" src="{{image.filePath}}" alt={{ image.film.title }}>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}


{% endblock %}