html {
  overflow-y: scroll;
}

.colTrailerGrid {
    display: grid;
    gap: 1rem;
    /*grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));*/

   grid-template-columns: 0.3fr 0.8fr 0.4fr;
   grid-template-rows: 1fr;

    padding-bottom: 15px;
}
/*
.plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: relative;
    width: 21px;
}

  .plus-minus-toggle:before {
    background: transparent;
    color: greenyellow;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;}

    .plus-minus-toggle:after {
    color: transparent;
    background: white;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
    transform-origin: center;

  }

  .plus-minus-toggle.collapsed:after {
      transform: rotate(90deg);
  }

  .plus-minus-toggle:before {
      transform: rotate(180deg);
  }
*/


.plus-toggle > label {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  cursor: pointer;
  position: relative;
  display: block;
}
.plus-toggle > label:before, .plus-toggle > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0.1rem;
  background: #fff;
  border-radius: 0.1rem;
  height: 1.1111111111rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
}
.plus-toggle > label:after {
  width: 1.1111111111rem;
  height: 0.1rem;
}
.plus-toggle > input {
  height: 0;
  width: 0;
  overflow: hidden;
}
.plus-toggle > input:checked + label:before {
  transform: rotate(-90deg);
}
.plus-toggle > input:checked + label:after {
  transform: rotate(-180deg);
  opacity: 0;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    /*max-width: 267px;*/
    width: 100%;
 }

.card-wide {
    grid-column: span 3 / auto;
}

.noBoxShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*Mega Menu and TopNov*/
.megamenu {
  position: static;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 10;
}

.megamenu .dropdown-menu {
  background: none;
  border: 2px lightgrey;
  width: 100%;

  height: 720px;
  max-height: 720px;
  overflow-y: scroll;

  position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 10;
}

#mega1 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

code {
  color: #745eb1;
  background: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.text-uppercase {
  letter-spacing: 0.07em;
}

.text-small {
  letter-spacing: 0.03em;
}

/*Horizontal Scrollers*/
:root {
  --gutter: 10px;
}

.scroller {
  padding: var(--gutter) 0;
  display: flex;
  grid-gap: var(--gutter) 0;
  align-content: start;
  border-radius: 5px;
}

.scroller > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-auto-flow: column;
  /*grid-template-columns: repeat(15, minmax(139px, 1fr));*/
  grid-auto-columns: 139px;
  overflow-x: scroll;
  margin-bottom: calc(-.25 * var(--gutter));
  padding-bottom:15px;
}

.hs.episodeStills {
  grid-gap: 10px;
  grid-auto-columns: 300px;
}

ul {
  padding: 0;
  white-space: nowrap;
}

.li {
    display: inline-block;
}

/*Poster Types*/
.item {
  scroll-snap-align: center;
  width:139px;
  height:206px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323238;
  max-width:100%;
  max-height:100%;
  word-break: break-all;
}

.episodeStillImage {
  height:192px;
  width:300px;
  object-fit:cover;
  border: solid white;
  border-width: 2px 2px;

  animation: itemEntrance 300ms ease-out;
  animation-fill-mode: backwards;
}


@keyframes itemEntrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item.posterSmall {
  max-width:100%;
  max-height:100%;
  background-size: cover;
  border: solid white;
  border-width: 1px 1px;

  animation: itemEntrance 300ms ease-out;
  animation-fill-mode: backwards;

}

.item.posterSmall.season {
  border-width: 2px 2px;
  height:192px;

}

.item.posterSmall.winner {
  border: solid gold;
  border-width: 3px 3px;
}

.item.posterSmall.seen {
  opacity: 50%;
  border-width: 3px 3px;
}

.item.additionalImage {
  max-width:100%;
  max-height:100%;
  border: solid white;
  border-width: 1px 1px;
  object-fit: cover;
}

.item.additionalImage.winner {
  border: solid gold;
  border-width: 3px 3px;
}

.item.personSmall {
  max-width:100%;
  max-height:100%;
  border: solid white;
  border-width: 1px 1px;
  object-fit: cover;
}

.item.detailPoster {
  height: 400px;
  width: 267px;
  max-width:100%;
  max-height:100%;
  background-size: cover;
  border: solid white;
  border-width: 1px 1px;
}

.item.personDetail {
  height: 400px;
  width: 267px;
  max-width:100%;
  max-height:100%;
  background-size: cover;
  border: solid white;
  border-width: 1px 1px;
  object-fit: cover;
}

.item.franchiseBanner {
    height: 150px;
    object-fit: contain;
    width: 100%;
    background-color: black;
    padding: 10px;
}

.item.franchiseBanner.gameFranchiseBanner {
    background-color: white;
}

.item.box {
    height: 150px;
    object-fit: contain;
    width: 100%;
    background-color: black;
    padding: 10px;
}

.item.box.white {
    background-color: white;
    border: solid black;
    border-width: 1px 1px;
}

.item.genreLogo {
    height: 150px;
    object-fit: contain;
    width: 100%;
    background-color: black;
}

.item.consoleImage {
    height: 150px;
    width: 300px;
}

.item.smallImage {
    width:70px;
    height:103px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-size: cover;
    border: solid white;
    border-width: 1px 1px;
}

/*Containers*/
.blur {
    width: 100%;
    min-height: 500px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    padding-bottom: 300px;
    border: none;
}


.col.ratingCol {
    padding-right: 0;
}

.container {
    max-width:1400px;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

}

.container.container-fluid {
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 5px;
    background-color: #323238;

}

.container.ratingBox {
    background-color: #323238;
    min-width: 100%;
    float: right;
    padding: 10px;
    margin-bottom: 15px;
}

.container.profileSection {
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #323238;
}

.container.infoSection {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: #323238;

}

.container.titleSection {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container.posterTrailerContainer {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container.noBoxShadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*General*/
.navbarLogo {
    height: 30px;
}

.profilePicSmall {
    height: 30px;
    width: 30px;
}

a {
    color: lightgrey;
}

a:hover {
    color: white;
}

hr {
    background-color: lightgrey;
}

h3 {
    background-color: #323238;
    padding: 5px;
    padding-bottom: 8px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-control {
    font-size: 20px;
}

.dropdown-menu {
  background-color: #323238;
}

.dropdown-item {
  background-color: #323238;
  color: white;
}

.dropdown-item:focus {
  background-color: yellow;
  color: #14181C;
}

.navbar {
  background-color: #323238;
}

/*Carousel*/
.carousel {
  object-fit: cover;
  z-index: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  width:1400px;
  height:300px

}


/*Poster and Trailer Containers*/

.trailer {
  border: solid white;
  border-width: 1px 1px;
  max-height: 400px;
  min-height: 400px;
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 400px;
  min-height: 400px;

}


.detailInfo {
    width: 100%;
    display: inline-block;
}


.formSuccess {
  float:left;
  overflow: hidden;
}

.profileSection {
    word-break: break-word;
}

h2 span {
    background-color:rgba(50,50,56,0.8);
    padding: 5px;
}

.lowerLabel {
    color: #404040;
    font-size: 0.9rem;
    background-color: white;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border: solid black;
    border-width: 1px 1px;
}

.bottomOverlay {
    position: relative;
    margin: 0 auto;

    animation: itemEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}

.bottomOverlay .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.auto-grid {
  align-content: center;
  max-width: 100%;
  padding-left: initial;
  padding-right: 1.75rem;

  /*--auto-grid-min-size: 4%;*/
  --auto-grid-min-size: 2.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 2rem;
}

.auto-grid.franchiseGrid {
  --auto-grid-min-size: 4.5rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.module {
  width:70px;
  height:103px;
  text-align: center;
  font-size: 0.6rem;
  background: #323238;
  color: #ffffff;
  border: solid white;
  border-width: 1px 1px;
  word-break: break-word;
}

.module.franchiseModule {
  width:100px;
  height:100px;
}

.container.browseGrid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 15px;
    background-color: #323238;
}

.ratingStars {
    --star-size: 35px;
    --star-color: rgba(0,0,0,0);
    --star-background: #fc0;

    --percent: calc((var(--rating) / 5) * 100%);
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
}

.ratingStars::before {
    /*content: 'â˜…â˜…â˜…â˜…â˜…';*/
    content: 'â˜…';
    font-size: 25px;
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.ratingStars.small {
    --star-size: 15px;
}

.ratingStars.medium {
    --star-size: 25px;
}

/*
.ratingStarsInput {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.ratingStars > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.ratingStars > span:hover,
.ratingStars > span:hover ~ span {
  color: transparent;
}
.ratingStars > span:hover:before,
.ratingStars > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}
*/

.trailer {
    width: 711px;
    height: 400px;
}

.item.posterSmall.game {
    object-fit: cover;
    background-color: black;
}


/*--------------------- Modal Styling --------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 3px solid #888;
    width: 50%;
    max-width: 610px;
    min-width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

div.container.profileSection.inModal {
    margin-bottom: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}


/*--------------------- 5 Media Box Videos on Home Page --------------- */

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(0,0,0,0);
}

.grid-item {
    background-color: #323238;
    font-size: 20px;
    text-align: center;
    margin:5px;
}

.grid-item.firstVid {
    margin-left: 0;
}

.grid-item.lastVid {
    margin-right: 0;
}

.grid-item video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 20%;
    max-height: 150px;
    object-fit: cover;
    overflow: hidden;
    z-index: -2;
    float:left
}


/*-------- Genre/Franchise Box, Left/Right Scrollers, Carousel Width Style Fixes -------- */

.carousel {
    width: 100%;
}
.item.box.genre {
    padding: 40px;
}

div.fullScroll {
    width: 100%;
}

div.leftScroll {
    max-width: 49.7%;
    float: left;
}

div.rightScroll {
    max-width: 49.7%;
    float: right;
}

@media screen and (max-width: 675px) {
     .item.box.genre {
        padding: 20px;
    }
    .lowerLabel {
        display: none;
    }

    .leftScroll,
    .rightScroll {
        min-width: 100%;
        max-width: 100%;
    }
}




/*-------- Megamenu Icons -------- */

.mediaIcon {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.mediaIcon.Film {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/film.png)
}

.mediaIcon.Television {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/television.png)
}

.mediaIcon.VideoGame {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/videogame.png)
}

.mediaIcon.Book {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/book.png)
}

.mediaIcon.WebSeries {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/webSeries.png)
}

.mediaIcon.Awards {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/award.png)
}

.mediaIcon.Contribute {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/contribute.png)
}

.mediaIcon.Upload {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/upload.png)
}

.mediaIcon.Admin {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/admin.png)
}

.mediaIcon.User {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/user.png)
}

.mediaIcon.Grid {
    content:url(https://mediadb-bucket.s3-us-west-2.amazonaws.com/icons/grid.png)
}

/*-----------Responsive Changes Below 675px Wide ------------------*/

@media screen and (max-width: 675px) {

    .carousel {
        width: 100%;
        min-height: 100px;
        max-height: 100px;
    }

    .carousel-caption {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .blur {
        min-height: 200px;
    }

    .hs {
      grid-template-columns: repeat(100, minmax(80px, 1fr));
    }

    .item {
        width:80px;
        height:119px;
    }

    .item.box {
        height: 80px;
    }

    .item.box {
        height: 80px;
    }

    .card {
        padding-left: 15px;
    }

    .item.detailPoster {
        width: 100px;
        height: auto;
    }

    .item.ratingBox {
        width: 100px;
        height: auto;

    }

    .item.personDetail {
       width: 100px;
       height: auto;
    }

    .bottomOverlay.content {
        display: none;
    }

    .content {
        display: none;
    }

    .responsive-iframe {
        width: 270px;
        height: auto;
    }

    .posterTrailerContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .ratingBox {
        float: none;
        padding-left: 5px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        font-size: 5px;
    }

    div {
        font-size: 10px;
    }

    a {
        font-size: 15px;
    }

    h1 {
        font-size: 1em;
    }
    h2 {
        font-size: 25px;
    }
    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 15px;

    }

    .ratingBox.p {
        font-size: 5px;
    }

    .module.franchiseModule {
      width:70px;
      height:70px;
    }

    .auto-grid.franchiseGrid {
      --auto-grid-min-size: 2.5rem;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    }


    .item.detailPoster {
        width: 110px;
        height: 165px;
    }
    .trailer {
        height: 165px;
        min-height: 165px;
        max-height: 165px;
        width:281px;
        max-width: 281px;
    }
    .ratingCol {
        max-width: 391px;
        padding-right: 5px;
    }
    .ratingBox.taller {
        height: 260px;
    }

}

@media screen and (max-width: 450px) {
    .cloud-tags {
        display: none;
    }
}

/*----------Removing Image Overlay h5s----------------*/
@media screen and (max-width: 275px) {
    h5 a {
        display: none;
    }
}


/*---------- Removing box shadows and selection highlights from inputs -----------*/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0 !important;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
}

/*-------------------Placing Containers Below One Another -------------*/
.below {
    z-index: 0;
}


/*-------------------Removing All Link Underlines -------------*/
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}



/*------------------- Loading Spinners -------------*/
.posterSmall, .personSmall, .detailPoster, .personDetail, .additionalImage {
    background: url(https://assets.materialup.com/uploads/e21b405b-4e2a-48dc-9181-625a37c1eae8/preview.gif) no-repeat scroll center center;
    background-color: white;
    background-size: 100%;
}

/*--------Rating Containers ---------*/
.container.ratingBox {
    min-height: 65px;
}

.container.ratingBox.taller {
    min-height: 110px;
}


