{% extends "media/base.html" %}
{% block title %}{{memberProfile.username}}{% endblock title %}
{% block content %}

    <div class="container profileSection">
        <div class="media">
            <img class="item additionalImage" alt="profilePicture" src={% if memberProfile.profile.image %}{{ memberProfile.profile.image.url }}{% else %}https://mediadb-bucket.s3-us-west-2.amazonaws.com/MissingIcon.png{% endif %}>
            <div class="media-body" style="padding-left:15px">
                <h2 class="account-heading">{{memberProfile.username}}</h2>
                <p class="text-secondary">{{ memberProfile.profile.bio }}</p>
            </div>
        </div>
    </div>

    <div class="container profileSection">
        <a href="/user/{{ memberProfile.username }}">Back to Profile Page</a>
    </div>

    {% if ratings %}
        <!--
        {% for rating in ratings %}
                {%  if rating.film != NULL %}
                    <div class="container profileSection">
                        <div class="media">
                            <a class="item" href="/films/{{ rating.film.slug }}">
                                <img class="item posterSmall" src="{{rating.film.poster.url}}" alt="{{rating.film.title}}">
                            </a>
                            <div class="media-body" style="padding-left:15px">
                                    <h5 class="font-weight-bold border-bottom mb-0">
                                        <a href="/films/{{ rating.film.slug }}">
                                            {{ rating.film.title }} ({{ rating.film.getYear }})
                                        </a>
                                        - <div class="ratingStars medium" style="--rating: {{ rating.rating }};"></div>
                                    </h5>
                                {% if rating.review %}
                                    {{ rating.review }}
                                {% else %}
                                    <p>Add a Review</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {%  if rating.television != NULL %}
                    <div class="container profileSection">
                        <div class="media">
                            <a class="item" href="/tv/{{ rating.television.slug }}">
                                <img class="item posterSmall" src="{{rating.television.poster.url}}" alt="{{rating.television.title}}">
                            </a>
                            <div class="media-body" style="padding-left:15px">
                                    <h5 class="font-weight-bold border-bottom mb-0">
                                        <a href="/tv/{{ rating.television.slug }}">
                                            {{ rating.television.title }} ({{ rating.television.getYear }})
                                        </a>
                                        - <div class="ratingStars medium" style="--rating: {{ rating.rating }};"></div>
                                    </h5>

                                {% if rating.review %}
                                    {{ rating.review }}
                                {% else %}
                                    <p>Add a Review</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {%  if rating.videoGame != NULL %}
                    <div class="container profileSection">
                        <div class="media">
                            <a class="item" href="/video-games/{{ rating.videoGame.slug }}">
                                <img class="item posterSmall" src="{{rating.videoGame.poster.url}}" alt="{{rating.videoGame.title}}">
                            </a>
                            <div class="media-body" style="padding-left:15px">
                                    <h5 class="font-weight-bold border-bottom mb-0">
                                        <a href="/video-games/{{ rating.videoGame.slug }}">
                                            {{ rating.videoGame.title }} ({{ rating.videoGame.getYear }})
                                        </a>
                                        - <span class="ratingStars medium" style="--rating: {{ rating.rating }};"></span>
                                    </h5>
                                {% if rating.review %}
                                    {{ rating.review }}
                                {% else %}
                                    <p>Add a Review</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {%  if rating.book != NULL %}
                    <div class="container profileSection">
                        <div class="media">
                            <a class="item" href="/books/{{ rating.book.slug }}">
                                <img class="item posterSmall" src="{{rating.book.image.url}}" alt="{{rating.book.title}}">
                            </a>
                            <div class="media-body" style="padding-left:15px">
                                    <h5 class="font-weight-bold border-bottom mb-0">
                                        <a href="/books/{{ rating.book.slug }}">
                                            {{ rating.book.title }} ({{ rating.book.getYear }})
                                        </a>
                                        - <span class="ratingStars medium" style="--rating: {{ rating.rating }};"></span>
                                    </h5>
                                {% if rating.review %}
                                    {{ rating.review }}
                                {% else %}
                                    <p>Add a Review</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {%  if rating.webSeries != NULL %}
                    <div class="container profileSection">
                        <div class="media">
                            <a class="item" href="/web-series/{{ rating.webSeries.slug }}">
                                <img class="item posterSmall" src="{{rating.webSeries.poster.url}}" alt="{{rating.webSeries.title}}">
                            </a>
                            <div class="media-body" style="padding-left:15px">
                                    <h5 class="font-weight-bold border-bottom mb-0">
                                        <a href="/web-series/{{ rating.webSeries.slug }}">
                                            {{ rating.webSeries.title }} ({{ rating.webSeries.getYear }})
                                        </a>
                                        - <div class="ratingStars medium" style="--rating: {{ rating.rating }};"></div>
                                    </h5>

                                {% if rating.review %}
                                    {{ rating.review }}
                                {% else %}
                                    <p>Add a Review</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
        -->

        <div class="container profileSection">
            <h5 class="font-weight-bold border-bottom mb-0">Activity</h5>
            {% for rating in ratings %}
                <br>
                {%  if rating.film != NULL %}
                    <div class="media">
                        <a class="item" href="/films/{{ rating.film.slug }}">
                            <img class="item posterSmall" src="{{rating.film.poster.url}}" alt="{{rating.film.title}}">
                        </a>
                        <div class="media-body" style="padding-left:15px">
                                <h5 class="font-weight-bold">
                                    <a style="color:#009999" href="/user/{{ rating.user.username }}">{{ rating.user.username }}</a>
                                    rated
                                    <a href="/films/{{ rating.film.slug }}">{{ rating.film.title }} ({{ rating.film.getYear }})</a>
                                    <div style="display: inline-block; z-index: 0" id="{{ forloop.counter }}"></div>
                                </h5>
                                <p>
                                    on {{ rating.dateTime.date }} at {{ rating.dateTime.time }}
                                </p>
                            {% if rating.review %}
                                <br>{{ rating.review }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {%  if rating.television != NULL %}
                    <div class="media">
                        <a class="item" href="/tv/{{ rating.television.slug }}">
                            <img class="item posterSmall" src="{{rating.television.poster.url}}" alt="{{rating.television.title}}">
                        </a>
                        <div class="media-body" style="padding-left:15px">
                                <h5 class="font-weight-bold">
                                    <a style="color:#009999" href="/user/{{ rating.user.username }}">{{ rating.user.username }}</a>
                                    rated
                                    <a href="/tv/{{ rating.television.slug }}">{{ rating.television.title }} ({{ rating.television.getYear }})</a>
                                    <div style="display: inline-block; z-index: 0" id="{{ forloop.counter }}"></div>
                                </h5>
                                <p>
                                    on {{ rating.dateTime.date }} at {{ rating.dateTime.time }}
                                </p>
                            {% if rating.review %}
                                <br>{{ rating.review }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {%  if rating.videoGame != NULL %}
                    <div class="media">
                        <a class="item" href="/video-games/{{ rating.videoGame.slug }}">
                            <img class="item posterSmall game" src="{{rating.videoGame.poster.url}}" alt="{{rating.videoGame.title}}">
                        </a>
                        <div class="media-body" style="padding-left:15px">
                                <h5 class="font-weight-bold">
                                    <a style="color:#009999" href="/user/{{ rating.user.username }}">{{ rating.user.username }}</a>
                                    rated
                                    <a href="/video-games/{{ rating.videoGame.slug }}">{{ rating.videoGame.title }} ({{ rating.videoGame.getYear }})</a>
                                    <div style="display: inline-block; z-index: 0" id="{{ forloop.counter }}"></div>
                                </h5>
                                <p>
                                    on {{ rating.dateTime.date }} at {{ rating.dateTime.time }}
                                </p>
                            {% if rating.review %}
                                <br>{{ rating.review }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {%  if rating.book != NULL %}
                    <div class="media">
                        <a class="item" href="/books/{{ rating.book.slug }}">
                            <img class="item posterSmall" src="{{rating.book.image.url}}" alt="{{rating.book.title}}">
                        </a>
                        <div class="media-body" style="padding-left:15px">
                                <h5 class="font-weight-bold">
                                    <a style="color:#009999" href="/user/{{ rating.user.username }}">{{ rating.user.username }}</a>
                                    rated
                                    <a href="/books/{{ rating.book.slug }}">{{ rating.book.title }} ({{ rating.book.release }})</a>
                                    <div style="display: inline-block; z-index: 0" id="{{ forloop.counter }}"></div>
                                </h5>
                                <p>
                                    on {{ rating.dateTime.date }} at {{ rating.dateTime.time }}
                                </p>
                            {% if rating.review %}
                                <br>{{ rating.review }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {%  if rating.webSeries != NULL %}
                    <div class="media">
                        <a class="item" href="/web-series/{{ rating.webSeries.slug }}">
                            <img class="item posterSmall" src="{{rating.webSeries.poster.url}}" alt="{{rating.webSeries.title}}">
                        </a>
                        <div class="media-body" style="padding-left:15px">
                                <h5 class="font-weight-bold">
                                    <a style="color:#009999" href="/user/{{ rating.user.username }}">{{ rating.user.username }}</a>
                                    rated
                                    <a href="/web-series/{{ rating.webSeries.slug }}">{{ rating.webSeries.title }} ({{ rating.webSeries.getYear }})</a>
                                    {% with rating.webSeries.slug as unique %}
                                    <div style="display: inline-block; z-index: 0" id="{{ forloop.counter }}"></div>
                                    {% endwith %}
                                </h5>
                                <p>
                                    on {{ rating.dateTime.date }} at {{ rating.dateTime.time }}
                                </p>
                            {% if rating.review %}
                                <br>{{ rating.review }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <br><hr>

                <script>
                    $('#{{ forloop.counter }}').rateYo({
                        rating:'{{ rating.rating }}',
                        starWidth:'20px', numStars:5, minValue:0, maxValue:10,
                        normalFill:'gray', ratedFill:'orange', halfStar:true, readOnly:true,
                    })
                </script>

            {% endfor %}
        </div>
    {% endif %}

{% endblock %}