{% extends "media/base.html" %}
{% block title %}{{memberProfile.username}}{% endblock title %}
{% block content %}

    <div class="container profileSection">
        <div class="media">
            <img class="item additionalImage" alt="profilePicture" src={% if memberProfile.profile.image %}{{ memberProfile.profile.image.url }}{% else %}https://mediadb-bucket.s3-us-west-2.amazonaws.com/MissingIcon.png{% endif %}>
            <div class="media-body" style="padding-left:15px">
                <h2 class="account-heading">{{memberProfile.username}}</h2>
                <p class="text-secondary">{{ memberProfile.profile.bio }}</p>
            </div>
        </div>
    </div>

    <div class="container profileSection">
        <a href="/user/{{ memberProfile.username }}">Back to Profile Page</a>
    </div>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          font-weight: bold;
        }

        td, th {
          text-align: left;
        }

        .statsCol {
            width: 45%;
        }

        .statsCol2 {
            width: 45%
        }

        .rightScroll img {
            display:block;
            margin:auto;
        }

        @media screen and (max-width: 890px) {
            .leftScroll,
            .rightScroll {
                min-width: 100%;
                max-width: 100%;
            }
            .statsCol2 {
                width: 15%;
            }
        }

        @media screen and (max-width: 1400px) {
            .rightScroll table {
                margin:auto;
            }
            .statsCol2 {
                width: 25%;
            }
        }
    </style>

    {% for statType in stats %}
        <div class="container profileSection leftScroll" style="width: 65%; max-width: 65%">
            <table cellspacing="0" cellpadding="0" style="border: none;">
              <colgroup><col span="1" class="statsCol"><col span="1" class="statsCol2"></colgroup>
              {% for key, stat in statType.items %}
                  {% if key == 'mediaType' %}
                      <tr><th colspan="2"><h5 class="font-weight-bold border-bottom mb-1">{{ stat }}</h5></th></tr>
                  {% else %}
                      {% if key != 'hist' %}
                          <tr>
                              <td>{{ key }}</td>
                              {% if stat != 'nan' and stat != 'ies([' and stat != '0' %}
                              <td>{{ stat }}</td>
                              {% else %}
                              <td>Unavailable</td>
                              {% endif %}
                          </tr>
                      {% endif %}
                  {% endif %}
              {% endfor %}
            </table>
        </div>

        <div class="container profileSection rightScroll" style="width:35%;padding-top: 45px; padding-left: 20px">
          {% for key, stat in statType.items %}
              {% if key == 'hist' %}
                  <img class="box hist" src="data:image/png;base64,{{ stat|safe }}">
              {% endif %}
          {% endfor %}
        </div>

        <div style="clear: both"><br></div>

    {% endfor %}


    {% if actorScores %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">{{ memberProfile.profile.user.username }}'s Favourite Actors</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for person, score in actorScores.items %}
                        <div class="bottomOverlay">
                            <a href="/person/{{ person.slug }}">
                                <img class="item personSmall" src="{{person.image.url}}" alt="{{person.firstName}} {{person.surname}}">
                            </a>
                            <div class="content">
                                <h6 class = "font-weight-bold" >{{ score }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if directorScores %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Favourite Directors</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for person, score in directorScores.items %}
                        <div class="bottomOverlay">
                            <a href="/person/{{ person.slug }}">
                                <img class="item personSmall" src="{{person.image.url}}" alt="{{person.firstName}} {{person.surname}}">
                            </a>
                            <div class="content">
                                <h6 class = "font-weight-bold" >{{ score }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if writerScores %}
        <div class="container infoSection">
            <h5 class="font-weight-bold border-bottom mb-0">Favourite Writers</h5>
            <div class="scroller">
                <ul class="hs full">
                    {% for person, score in writerScores.items %}
                        <div class="bottomOverlay">
                            <a href="/person/{{ person.slug }}">
                                <img class="item personSmall" src="{{person.image.url}}" alt="{{person.firstName}} {{person.surname}}">
                            </a>
                            <div class="content">
                                <h6 class = "font-weight-bold" >{{ score }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}