{% extends "media/base.html" %}
{% block title %}Register{% endblock title %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="container profileSection" style="max-width: 800px; margin: auto; margin-top:100px; border: 3px solid #888;">
        <form method="POST">
            {% csrf_token %}

                <legend class="border-bottom mb-4">Register</legend>
                <fieldset class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            <label class="bmd-label-floating" for="id_{{ field.name }}" style="color: #009999">{{ field.label }}</label>
                            <div>
                                {% if field.label == "Password" or  field.label == "Password confirmation" %}
                                <input type="password" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" style="color: white">
                                {% else %}
                                <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" style="color: white">
                                {% endif %}
                            </div>
                            <span class="bmd-help">Enter the {{ field.label }} of your account</span>
                        </div>
                    {% endfor %}
                </fieldset>


                <div class="form-group">
                    <button class="btn btn-primary btn-raised" type="submit">Sign Up</button>
                </div>

                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already registered?
                        <a class="ml-2" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>

        </form>
    </div>

{% endblock %}