{% extends "media/base.html" %}
{% block title %}Register{% endblock title %}
{% load crispy_forms_filters %}
{% block content %}

    <style>
        .bmd-label-static {
            color: #009999;
        }

        .form-control, .form-group {
            color: white;
        }

        .form-control:focus {
            color: white;
        }

        .form-text {
            display: none;
        }

    </style>

    <div class="container profileSection" style="max-width: 800px; margin: auto; margin-top:100px; border: 3px solid #888;">
        <form method="POST">
            {% csrf_token %}

                <legend class="border-bottom mb-4">Register</legend>
                <fieldset class="form-group">
                    {% for field in form %}
                        <div style="color: white;">{{ field|as_crispy_field }}</div>
                    {% endfor %}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-primary btn-raised" type="submit">Sign Up</button>
                </div>

                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already registered?
                        <a class="ml-2" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>

        </form>
    </div>

{% endblock %}