{% extends "media/base.html" %}
{% block title %}Register{% endblock title %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="container infoSection">
        <form method="POST">
            {% csrf_token %}
            <div style="padding: 20px">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>

                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already registered?
                        <a class="ml-2" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>
            </div>
        </form>
    </div>

{% endblock %}